<!-- <div class="mb-3">
    <label for="colorFilterText" class="form-label">Renk Ara</label>
    <input type="text" [(ngModel)]="colorFilterText" 
    class="form-control" id="colorFilterText" placeholder="Arama İfadesi">
  </div> -->

<ul class="list-group">


  <li [class]="getAllColorClass()" (click)="setAllColor()" routerLink="/colors">
    <div class="p-3 mb-2 bg-secondary text-white">
      Tüm Renkler
    </div>
  </li>



  <li (click)="setCurrentColor(color)" routerLink="/cars/colors/{{ color.colorId }}" class="list-group-item"
    aria-current="true" *ngFor="let color of colors " [class]="getCurrentColorClass(color)"> {{ color.colorName }} </li>
</ul>

<h5 class="header mt-2" *ngIf="currentColor">{{ currentColor.colorName }} Seçtiniz</h5>