<div class="row mt-2">
  <div class="col-md-4">
    <select class="form-select" aria-label="Default select example">
      <option selected>Marka Seçiniz</option>
      <option *ngFor="let c of cardetails " value="1">{{c.brandName}}</option>
    </select>
  </div>
  <div class="col-md-4">
    <select class="form-select" aria-label="Default select example">
      <option selected>Renk Seçiniz</option>
      <option *ngFor="let c of cardetails " value="1">{{c.colorName}}</option>
    </select>
  </div>
  <div class="col-md-4">
    <button class="col-md-12 btn btn-secondary">Ara</button>
  </div>
</div>


<table class="table table-secondary table-striped mt-2">
  <tr>
    <!-- <th>Car Id</th> -->
    <th>Markalar</th>
    <th>Renk Seçenekleri</th>
    <th>Günlük Kira Bedeli</th>
    <th>Vites Türü</th>
  </tr>
  <tbody>
    <tr *ngFor="let c of cardetails">
      <!-- <td>{{ c.carId }}</td> -->
      <td>{{ c.brandName }}</td>
      <td>{{ c.colorName }}</td>
      <td>{{ c.dailyPrice }}</td>
      <td>{{ c.description }}</td>
      <td><button class=" btn btn-sm btn-outline-danger">Kiralık</button></td>
    </tr>
  </tbody>

</table>