<div class="mb-3">
  <label for="brandFilterText" class="form-label">Marka Ara</label>
  <input type="text" [(ngModel)]="brandFilterText" class="form-control" id="brandFilterText"
    placeholder="Arama İfadesi">
</div>

<ul class="list-group mt-2">
  <li [class]="getAllBrandClass()" routerLink="/cars">Tüm Markalar</li>

  <li (click)="setCurrentBrand(brand)" routerLink="/cars/brands/{{brand.brandId}}" 
    *ngFor="let brand of brands | brandFilter: brandFilterText"
     [class]="getCurrentBrandClass(brand)">
    {{ brand.brandName }}
  </li>
</ul>
<h5 class="header mt-2" *ngIf="currentBrand">{{ currentBrand.brandName }} Seçtiniz</h5>

