<h1>Car List</h1>
<div class="card">
    <!-- <h5>Programmatic</h5>
    <div style="padding: .5em 0 1em 0">
        <p-button (click)="activeIndex = 0" styleClass="p-button-text" label="Activate 1rd"></p-button>
        <p-button (click)="activeIndex = 1" styleClass="p-button-text" label="Activate 2rd" [style]="{'margin-left': '.5em'}"></p-button>
        <p-button (click)="activeIndex = 2" styleClass="p-button-text" label="Activate 3rd" [style]="{'margin-left': '.5em'}"></p-button>
    </div> -->
    <p-tabView [(activeIndex)]="activeIndex" (onChange)="tabChange($event.index)">
        <p-tabPanel header="Cars List">
            <app-car (carDetail)="getCarDetail($event)"></app-car>
        </p-tabPanel>
        <p-tabPanel [disabled]="activeIndex == 0" header="{{detailHeader}}">
            <app-car-detail [car] = "car"></app-car-detail>
        </p-tabPanel>

    </p-tabView>

    <p-dialog header="Rental Detail" [(visible)]="rentService.isShow" [contentStyle]="{'height':'100%'}" [style]="{width: '40vw', 'height':'45vh'}" [breakpoints]="{'960px': '65vw', '640px': '98vw'}">
        <app-rental-detail></app-rental-detail>
    </p-dialog>
</div>