<table *ngIf ="dataLoaded == true" class="table">
    <thead>
        <tr>
            <th>Brand Name</th>
            <th>Color Name</th>
            <th>User Name</th>
            <th>Rent Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tr *ngFor = "let rental of rentaldetails">
        <td>{{rental.brandName}}</td>
        <td>{{rental.colorName}}</td>
        <td>{{rental.userName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    </tr>
</table>
