
<!-- [(selection)]="selectedCar" selectionMode="single" dataKey="id" -->
<p-table #dt [value]="cars" >
    <ng-template pTemplate="header">
        <tr>
            <th>Brand</th>
            <th>Color</th>
            <th>Model Year</th>
            <th>Daily Price</th>
            <th>Gear Type</th>
            <th>Return Date</th>
            <th>Detail</th>
        </tr>
        <tr>
            <th>
                <p-multiSelect [options]="brandOpt" (onChange)="dt.filter($event.value,'brandText','in')"
                    [style]="{'width':'100%', backgroundColor:'var(--indigo-100)'}"></p-multiSelect>
            </th>
            <th>
                <p-multiSelect [options]="colorOpt" (onChange)="dt.filter($event.value,'colorText','in')"
                    [style]="{'width':'100%', backgroundColor:'var(--indigo-100)'}"></p-multiSelect>
            </th>
            <th>
                <p-multiSelect [options]="modelOpt" (onChange)="dt.filter($event.value,'modelYear','in')"
                    [style]="{'width':'100%', backgroundColor:'var(--indigo-100)'}"></p-multiSelect>

            <th>

                <p-columnFilter type="text" field="dailyPrice" ></p-columnFilter>
                <!-- <input pInputText type="text" (input)="dt.filter($event.target.value, 'dailyPrice', 'contains')" 
                [value]="dt.filters['dailyPrice']" placeholder="Search by Name" class="p-column-filter"> -->
            </th>
            <th>
                <p-columnFilter type="text" field="country.name"></p-columnFilter>
            </th>

            <th>

            </th>
            <th>
                <p-columnFilter type="boolean" field="verified"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <!-- [pSelectableRow]="car" -->
        <tr >
            
            <td>{{car.brandText}}</td>
            <td>{{car.colorText}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}}</td>
            <td>{{car.description}}</td>
            <td>
                <span *ngIf="car.isRented">{{car.returnDate}}</span>
                <p-button *ngIf="!car.isRented" (onClick)="setRent(car)">Rent </p-button>
            </td>
            <td>
                <p-button (click) = "getCarDetail(car)">Detail</p-button>
            </td>
        
        </tr>

    </ng-template>
</p-table>
